In [1]:
import pandas as pd
import uuid

In [3]:
url = ['https://www.espn.cl/futbol/posiciones/_/liga/esp.1',
       'https://www.espn.cl/futbol/posiciones/_/liga/eng.1',
       'https://www.espn.cl/futbol/posiciones/_/liga/ita.1',
       'https://www.espn.cl/futbol/posiciones/_/liga/ger.1',
       'https://www.espn.cl/futbol/posiciones/_/liga/fra.1',
       'https://www.espn.cl/futbol/posiciones/_/liga/por.1',
       'https://www.espn.cl/futbol/posiciones/_/liga/ned.1'
       ]
leagues = ['LA_LIGA', 'PREMIER_LEAGUE','SERIE_A', 'BUNDESLIGA', 'LIGUE_1','PRIMEIRA_LIGA', 'EREDIVISIE']

df_leagues = {
    'League': leagues,
    'URL': url  
}

df_leagues = pd.DataFrame(df_leagues)
df_leagues

           League                                                URL
0         LA_LIGA  https://www.espn.cl/futbol/posiciones/_/liga/e...
1  PREMIER_LEAGUE  https://www.espn.cl/futbol/posiciones/_/liga/e...
2         SERIE_A  https://www.espn.cl/futbol/posiciones/_/liga/i...
3      BUNDESLIGA  https://www.espn.cl/futbol/posiciones/_/liga/g...
4         LIGUE_1  https://www.espn.cl/futbol/posiciones/_/liga/f...
5   PRIMEIRA_LIGA  https://www.espn.cl/futbol/posiciones/_/liga/p...
6      EREDIVISIE  https://www.espn.cl/futbol/posiciones/_/liga/n...

In [ ]:
df = pd.read_html(df_leagues['URL'][6])[0]
df

In [11]:
dfs = []
for i in range(len(url)):
    df_temp = pd.read_html(df_leagues['URL'][i])[0]
    dfs.append(df_temp)

df = pd.concat(dfs, ignore_index=True)
df.columns = ['Columna1', 'Columna2', 'Columna3']
# Llenar valores nulos en Columna1 y Columna2 con los valores de Columna3 si ambas son nulas
condicion_nulos = df['Columna1'].isna() & df['Columna2'].isna()
df.loc[condicion_nulos, 'Columna1'] = df['Columna3']
df.loc[condicion_nulos, 'Columna2'] = df['Columna3']
# Llenar valores nulos en Columna1 con los valores de Columna2
df['Columna1'].fillna(df['Columna2'], inplace=True)
# Llenar valores nulos en Columna2 con los valores de Columna3
df['Columna2'].fillna(df['Columna3'], inplace=True)
# Eliminar la primera fila (índice 0)
#df = df.drop(0)
# Eliminar las columnas 2 y 3
df = df.drop(columns=['Columna2', 'Columna3'])
# Imprimir el DataFrame resultante
df['Columna1'] = df['Columna1'].apply(lambda x: x[5:] if x[:2].isnumeric()==True else x[4:])
# Agregar una nueva columna 'ID_TEAM' con códigos únicos
df['ID_TEAM'] = [str(uuid.uuid4().hex)[:4] for _ in range(len(df))]
df.rename(columns={'Columna1': 'EQUIPO'}, inplace=True)
df

                  EQUIPO ID_TEAM
0                 Girona    acf9
1            Real Madrid    218d
2        Atlético Madrid    da22
3              Barcelona    73e2
4          Athletic Club    3054
..                   ...     ...
127      Heracles Almelo    fa7d
128         RKC Waalwijk    4de1
129  ere CityAlmere City    f26c
130              Vitesse    d992
131  VolendamFC Volendam    5159

[132 rows x 2 columns]

In [12]:
df.to_csv('team_table.csv',index=False)